html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
}

.logo{
  display:flex;
  flex-direction:column;
  height: 100%;
}
.box{
  margin:0px;
  height:10px;
  width:75px;
}
#logo{
  margin:30px;
}
.boxes{
  margin:0px;
  margin-bottom: 40px;
  display:flex;
  flex-direction:row;
}
.logo-box{
  position: relative;
  width:290px;
  margin-left:40px;
  height: 30px;
}
.logo-footer-box {
  position: relative;
  width: 290px;
  height: 30px;
}
#box1{
  background-color:#292929;
}
#box2{
  background-color:#db4f45;
}
#box3{
  background-color:#ffc122;
}
#box4{
  background-color:#5ecb89;
}
#box5{
  background-color:#54bbf8;
}

.navlink{
  text-decoration:none;
  cursor:pointer;
  list-style: none;
  margin-left: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  padding-bottom:5px;
  transition: border .3s ease-in-out;
}
#hidden-list .navlink {
  border-top: 2px solid black;
  margin-left: 0;
  padding:7px;
}
#hidden-list .navlink:hover{
  background: rgba(0, 0, 0, 0.293);
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  width:100%;
  padding-left:0px;
  margin-right:30px;
  height: 130px;
  margin-top:0px;
  margin-bottom:0px;
}
#link1{
  border-bottom: 2px solid #54bbf8;
}
#link2{
  border-bottom: 2px solid #db4f45;
}
#link3{
  border-bottom: 2px solid #ffc122;
}
#link4{
  background-color: #5ecb89;
  color:white;
  padding:10px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .25s ease-in-out, box-shadow .25s ease-in-out;
}
#link4:hover {
  border-bottom:0px solid black !important;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}
#link1:hover{
  border-bottom: 2px solid black;
}
#link2:hover{
  border-bottom: 2px solid black;
}
#link3:hover{
  border-bottom: 2px solid black;
}
.servicehero{
  height: 200px;
}
#hero{
  padding-top:40px;
  padding-bottom:50px;
  padding-left:40px;
  display:flex;
  flex-direction:column;
    border-top: 10px solid #54bbf8;
}
#hero.hero-red {
  border-top: 10px solid #DB4F4A;
}
#hero.hero-yellow {
  border-top: 10px solid #FFC122;;
}
#hero.hero-nocolor {
  border-top: none;
}
.movable {
  position: relative;
  width: 100%;
}
.hero-header{
  font-size:3em;
}
.hero-paragraph{
  font-size:1.2em;
  color: darkgrey;
  width: 90%;
}
#message{
  border: 1px solid lightgrey;
  font-family: 'Roboto', sans-serif;
  width: 40%;
  padding:10px;
  height:130px;
}
.project-image{
  width: 40vw;
  height: 25vw;
  position: relative;
}
.pastprojects{
  display:flex;
  width:100%;
  justify-content:space-around;
  margin-top:30px;
  margin-bottom:30px;
}




























































































.nav {
    top: 0;
    z-index: 1000;
}
.infoInputs {
  width: 50%;
}
.container {
    /* padding: 0px 80px; */
    padding: 0px 5%;
    padding-bottom:30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.right {
  align-items: flex-end;
}
.left {
  align-items: flex-start;
}
.center {
  justify-content: center;
}
.black { 
  background: black;
  color: white;
}
.computer-container {
    margin-top: 200px;
    height: 1000px;
    width: 100vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
    background-image:linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('../public/images/swoop.png');
    background-size: 167% 109vh;
    background-position: -28vw 12vh;
    background-repeat: no-repeat;
}
.computer-container h1 {
  margin-top: 200px;
}
#computer {
  height: 500px;
  width: 600px;
  background: url('../public/images/computer.png');
  background-size: 100% 95%;
  background-repeat: no-repeat;
}
.contained-computer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 575px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.contact-container {
    height: 800px;
    width: 100vw;
}
.computer {
    max-width: 500px;
}
.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;

  }
.contact {
  height: 500px;
  width: 90vw;
  background: rgb(244, 244, 244);
  border-radius: 50px;
  position: relative;
  right: -20vw;
  top: -100px;
}
footer {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  height: 80px;
  background: white;
}
#logo {
  cursor: pointer;
}
.video {
  position: relative;
  left: 26px;
  top: 44px;
  width: 552px;
  height: 323px;
}
.container h1 {
    text-align: center;
}
#services {
    box-sizing: border-box;
    position: absolute;
    width: 80vw;
    height: 800px;
    background: rgb(244, 244, 244);
    padding: 0px 10vw;
    margin-top: 100px;
    border-radius: 20px;
    right: -50px;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
}


text-area {
  font-family:'Roboto',sans-serif
}





















/* START */
#card-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom:100px;
    align-items: center;
    background: #f3f3f3;
    position:relative;
    margin-bottom:1500px;
    /* padding-bottom: 100px; */
  }
  
  :root {
      --card-height: 500px;
      --card-margin: 400px;
      --card-top-offset: 2em;
      --numcards: 6;
      --outline-width: 0px;
  }
  
  #cards {
      position: relative;
      left: -20px;
      padding-left:0px;
      /* padding-bottom: calc(var(--numcards) * var(--card-top-offset)); Make place at bottom, as items will slide to that position */
      /* margin-bottom: var(--card-margin); Don't include the --card-margin in padding, as that will affect the scroll-timeline */
  }
  .flipped {
    width: 45vw;
  }
  #card_1 {
      --index: 1;
      box-sizing: border-box;
      width: 50vw;
      /* height: 800px; */
      /* margin-top: 85px; */
      border-radius: 20px;
      z-index: -1;
      margin-left: 50vw;
      padding-top: 100px
  }
  .blue-back {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  } 
  .card:hover {
    height: 30vw;
    width: 30vw;
  }
.card.red:hover ~ .bullet.red {
    height: 15px;
    width: 15px;
  }
.card.blue:hover ~ .bullet.blue {
    height: 15px;
    width: 15px;
  }
.card.yellow:hover ~ .bullet.yellow {
    height: 15px;
    width: 15px;
  }
  .card {
      height: 25vw;
      width: 25vw;
      border-radius: 15px;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: 0.5s;
      font-size: 2vw;
      cursor: pointer;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    height: 40vw;
    flex-wrap: wrap;
    align-items: center;
  }
  .spacer {
    width: 40vw;
  }
  .bullet {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    /* margin: 0.4vw; */
    transition: 0.5s;
    align-self: flex-end;
  }

  .cards-selection {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image-container {
    position: relative;
    height: 50%;
    width: 60%;
  }

  .info-image-text {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    font-size: 1.25em;
    position: relative;
  }
  .scroll-header {
    margin-bottom: 200px;
    position: relative;
  }
  .container-filler {
    height: 1500px;
    width: 100%;
    background-color: white;
  }

  .info-image-text p {
    margin-left: 50px;
  }
  .info {
    display: flex;
    flex-direction: column;
  }

  .blur {
    background: linear-gradient(transparent,rgba(255, 255, 255, 0.727), white);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  #thank-you {
    background: black;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 0.5em;
    margin-top: 30px;
  }
  
  @supports (animation-timeline: works) {
  
      @scroll-timeline cards-element-scrolls-in-body {
          source: selector(body);
          scroll-offsets:
              /* Start when the start edge touches the top of the scrollport */
              selector(#cards) start 1,
              /* End when the start edge touches the start of the scrollport */
              selector(#cards) start 0
          ;
          start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
          end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
          time-range: 4s;
      }
  
      .card {
          --index0: calc(var(--index) - 1); /* 0-based index */
          --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
          --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
      }
      .card__content {
          transform-origin: 50% 0%;
          will-change: transform;
          --duration: calc(var(--reverse-index0) * 1s);
          --delay: calc(var(--index0) * 1s);
  
          animation: var(--duration) linear scale var(--delay) forwards;
          animation-timeline: cards-element-scrolls-in-body;
      }
  
      @keyframes scale {
          to {
              transform:
                  scale(calc(
                      1.1
                      -
                      calc(0.1 * var(--reverse-index))
                  ));
          }
      }
  }
  
  /** DEBUG **/
  
  #debug {
    position: fixed;
    top: 1em;
    left: 1em;
  }
  #debug::after {
    content: " Show Debug";
    margin-left: 1.5em;
    color: #f3f3f3;
    white-space: nowrap;
  }
  
  #debug:checked ~ main {
    --outline-width: 1px;
  }
  

  
  #main {
      width: 80vw;
      margin: 0 auto;
  }
  
  .header {
      height: 80vh;
      display: grid;
      place-items: center;
  }
  
  #cards {
      list-style: none;
      outline: calc(var(--outline-width) * 10) solid blue;
      
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(var(--numcards), var(--card-height));
      /* gap: var(--card-margin); */
  }
  
  .card {
      outline: var(--outline-width) solid hotpink;
  }
  
  .card__content {
      box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
      background: rgb(255, 255, 255);
      color: rgb(10, 5, 7);
      border-radius: 1em;
      overflow: hidden;
      padding-bottom:20px;
  }
  .learnMore{
    color:white;
    width:150px !important;
    display:flex;
    align-items:center;
    justify-content:center;
    height:30px;
    margin-top:30px;
    border-radius:8px;
    cursor:pointer;
    margin-left:calc(50% - 100px);
    border: 2px solid white;
    pointer-events: auto;

  }
  .contactpage > form {
    width:100vw;
    padding-top:200px;
    padding-bottom:150px;
    margin-bottom:-100px;
    border-radius:0;
    left:0;
  }
  .card__content > div {
      width: 80%;
      place-self: center;
    margin-bottom:10px;
      text-align: left;
  }
  
  .card__content > figure {
    height: 300px;
      overflow: hidden;
    background: #56CCF2;
  }
  
  .card__content > figure > div {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .card__content > figure > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .btn {
      background: rgb(188 87 36);
      color: rgb(255 255 255);
      text-decoration: none;
      display: inline-block;
      padding: 0.5em;
      border-radius: 0.25em;
  }
  
  aside {
      width: 50vw;
      margin: 0 auto;
      text-align: left;
  }
  
  aside p {
      margin-bottom: 1em;
  }
  video{
    cursor:pointer;
    margin-top:-40px!important;
  }
  
  
  
  
  @media only screen and (max-width: 825px) {
    .container_image {
      background-size:250vw auto;
    }
    .container_solid .title_wrapper h1 {
      background-size:250vw auto;
    }
    /* .container_solid{
      width:167vw;
    } */
  }
  @media only screen and (max-width: 684px) {
    #card_2 {
      --index: 8;
    }
    
    #card_3 {
      --index: 10;
    }
    
    #card_4 {
      --index: 12;
    }
    #card_5 {
      --index: 12;
    }
    #card_6 {
      --index: 12;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .container_image {
      height:50vh;
      display:none;
    }
    .container_solid .title_wrapper h1 {
      height:9vh;
      
    }
    .card__content > figure {
      height: 250px;
    }
    .card__content {
      height: 250px;
    }
    .title_wrapper{
      top:15%;
    }
    .arrow{
      display:none;
    }
    .herosub{
      font-size:1.25em!important; 
      margin:0!important;
    }
    #card-container{
      top:50vh;
      margin-bottom:50vh;
    }
    #card_2 {
      --index: 8;
    }
    
    #card_3 {
      --index: 9.5;
    }
    
    #card_4 {
      --index: 11;
    }
    .text {
      margin-left: 0px;
    }
    .modal {
      width: 50vh;
      height: 70vh;
      background-size: cover;
    }
  }
  
  @media only screen and (max-width: 562px) {
    #card_2 {
      --index: 9;
    }
    
    #card_3 {
      --index: 10.5;
    }
    
    #card_4 {
      --index: 12;
    }
  }

/* **********SQUARES***************/
.squares {
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    transition-duration:1s;
}
.squares:hover{
filter:brightness(120%);
}
.yellow {
    background: #FFC122;
}
.green {
    background: rgb(129, 203, 162);
    background-image: linear-gradient(to bottom right, rgb(129, 203, 162), rgb(41, 233, 115));
    color: white;
}
.blue {
    background: #54BBF8;
}
.red {
    background: #DB4F4A;
}
.grey {
    background: rgb(244, 244, 244);
}
.lightblue {
    background: rgb(37, 91, 206);
}
.opacity {
    opacity: 0.5;
}
.service-hero{
  display:flex;
  flex-direction:row;
  width:100vw;
  justify-content:center;
  align-items:center;
  margin-top:80px;
  height:50vh;

}
.service-title{
  display:flex;
  flex-direction:column;
  width:400px;
}
.service-header{
  font-size:25px;
  margin:5px;
}
.service-subheader{
  font-size:18px;
  margin:5px;
}
.service-text{
  font-size:15px;
  margin:5px;
}
.servicecont{
  height:650px;
  width:70vw;
  max-width:850px;
  padding-left:10vw;
  padding-top:10px;
  background-color:#f3f3f3;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom:250px;
}
.serviceBox{
  height:230px;
  width:230px;
  border-radius:20px;
  color:white;
  padding:30px;
  position:absolute;
}
.serviceBox div{
  margin-bottom:15px;
}
.first{
  top:600px;
  left:10vw;
}
.second{
  top:600px;
  left:calc(10vw + 350px);
}
.third{
 top:950px;
 left:10vw;
}
.serviceButton{
  position:absolute;
  top:1010px;
  left:calc(10vw + 400px);
  width:200px;
  height:50px;
  border: 2px solid #439ADD;
  border-radius: 10px;
  display:flex;
  color:#439ADD;
  align-items:center;
  justify-content:center;
  font-size:20px;
  cursor: pointer;
}





.designImg{
  margin-left:20%;
  height:180px;
  width:180px;
  border-radius:15px;
  filter: brightness(150%);
  border-radius: 5px;
  background-size: cover;
}
.img-blue {
  background-image:linear-gradient(to bottom right, rgb(88, 154,215, 0.45), rgb(88, 154,215, 0.45)), url('../public/images/branding.jpg');
}
.img-red {
  background-image:linear-gradient(to bottom right, rgb(187, 58, 43, 0.25), rgb(187, 58, 43, 0.25)), url('../public/images/design.jpg');
}
.img-yellow {
  background-image:linear-gradient(to bottom right, rgb(229, 155, 76, 0.25), rgb(229, 155, 76, 0.25)), url('../public/images/marketing.jpg');
}
.img-green {
  background-image:linear-gradient(to bottom right, rgb(129, 203, 162, 0.25), rgb(129, 203, 162, 0.25)), url('../public/images/serviceshero.jpg');
}

.cards-text{
  font-size:20px;
}
#handofra{
  margin-right:30px;
}
#cards-text{
  text-align:center;
}
.square1 {
    height: 124px;
    width: 124px;
    top: -20px;
    right: 45vw;
    z-index: -10;
}
.square2 {
    height: 24px;
    width: 24px;
    top: 120px;
    right: 59vw;
}
.square3 {
    height: 44px;
    width: 44px;
    top: 150px;
    right: 40vw;
}
.square4 {
    height: 28px;
    width: 28px;
    top: 225px;
    right: 35vw;
}
.square5 {
    height: 44px;
    width: 44px;
    top: 80px;
    right: 20vw;
}
.square6 {
    height: 164px;
    width: 164px;
    top: 160px;
    right: 5vw;
    filter: brightness(200%);
}
.square6 > div {
    filter: brightness(100%);
}
.square7 {
    height: 106px;
    width: 106px;
    top: 260px;
    right: 3vw;
}
.square8 {
    height: 80px;
    width: 80px;
    top: 400px;
    right: 15vw;
}
.square9 {
    height: 44px;
    width: 44px;
    top: 360px;
    right: 31vw;
}
.square10 {
    height: 178px;
    width: 178px;
    top: 470px;
    right: -8vw;
}
.square11 {
    height: 174px;
    width: 174px;
    top: 670px;
    right: 12vw;
}
.square12 {
    height: 176px;
    width: 176px;
    top: 540px;
    right: 3vw;
    filter: brightness(200%);
}
.square12 > div {
    filter: brightness(100%);
}
.square13 {
    height: 44px;
    width: 44px;
    top: 490px;
    right: 35vw;
}
.square14 {
    height: 44px;
    width: 44px;
    top: 520px;
    right: 32vw;
}
.square15 {
    height: 106px;
    width: 106px;
    top: 620px;
    right: 43vw;
    filter: brightness(200%);
}
.square15 > div {
    filter: brightness(100%);
}
.square16 {
    height: 80px;
    width: 80px;
    top: 800px;
    right: 36vw;
}
.square17 {
    height: 44px;
    width: 44px;
    top: 880px;
    right: 60vw;
}
.square18 {
    height: 44px;
    width: 44px;
    top: 4000px;
    right: 32vw;
}
.square19 {
    height: 122px;
    width: 122px;
    top: 4050px;
    right: 13vw;
    filter: brightness(200%);
}
.square19 > div {
    filter: brightness(100%);
}
.square20 {
    height: 70px;
    width: 70px;
    top: 4200px;
    right: 85vw;
}
.square21 {
    height: 3000px;
    width: 80vw;
    top: 900px;
    right: -20px;
    border-radius: 20px;
    z-index: -1;
}


.hamburger {
  cursor: pointer;
  display: flex;
  line-height: 1px;
  align-items: space-between;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 2em;
}
.hamburger-line {
  width: 2em;
  height: 3px;
  background-color: black;
  border-radius: 1px;
}
.hamburger-container {
  display: none;
  justify-content: flex-end;
  align-items: center;
}
#hidden-list {
  display: none;
  overflow: hidden;
  height: 0px;
  width: 100vw;
  background: white;
  position: absolute;
  padding: 0px;
  left: 0px;
  top: 110px;
  box-shadow:0px 4px 5px -5px;
  transition-duration: 0.5s;
}
/* #hidden-list:hover {
  display: block;
} */



/* 
@media only screen and (max-width: 750px) {
  .links {
    display: none;
  }
  .hamburger-container {
    display: flex;
  }
  .hamburger-container:hover > .hamburger > #hidden-list{
    height: 100px;
    transition-duration: 0.5s;
  }
  .hamburger-container:hover {
    width: 500px;
    height: 70px;
  }
  .squares{
    display:none;
  }
  #hero p {
    width: 300px;
  }
  .contained-computer {
    height: 35%;
  }
  .computer-container{
    background-size: 150% 78vh;
    background-position: -24vw 25vh;
    height: 850px;
  }
  #computer{
    width:350px;
    height:280px;
  }
  .video{
    width:91%;
    left: 17px;
    top: -29px;
  }
  #cards{
    left:0;
  }
  .inputs{
    flex-direction:column;
    margin-bottom:30px;
  }
  .infoInputs {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .infoInputs input {
    width: 100%;
  }
  textarea {
    width: 97% !important;
  }
  #card_1{
    width:90vw;
    margin-left:5vw;
  }
  .flipped{
    width:80vw;
    margin-left:10vw;
  }
  .container{
    width:100%;
    box-sizing:border-box;
    height:500px;
  }
  .square8 {
    display: block;
    top: 530px;
  }
  .square9 {
    display: block;
    top: 580px;
    right: 28vw;
  }
  .square12 {
    display: block;
    width: 110px;
    height: 110px;
    right: 3vw;
    top: 350px;
  }
} */
.hidden-link {
  display: none;
}

@media only screen and (max-width: 750px) {
  .links {
    display: none;
  }
  .hidden-link {
    display: block;
  }
  .hamburger-container {
    display: flex;
  }
  #hidden-list {
    display: block;
    z-index:10;
  }
  .logo-box {
    margin-left: 10px;
    width:145px;
    height: 15px;
  }
  .box {
    width: 30px;
    height: 6px;
  }
  .boxes {
    margin-bottom: 47px
  }
  #link4.hidden-link {
    margin-left: 0px;
  }
  #hero {
    height: 250px;
  }
  #hero.hero-nocolor {
    height: 350px;
  }
  #hero.main-hero {
    height: 300px;
  }
  .info-image-text {
    flex-direction:column;
    align-items:center;
    margin-bottom: 50px;
  }
  .info-image-text p {
    margin-left:5%;
  }
  .service-image{
    width:60%;
    margin-bottom:20px;
  }
  .info {
    padding-top: 400px;
  }
  .pastprojects{
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    height: 120vw;
  }
  .main-container {
    overflow: hidden;
    max-height: 1700px;
  }
  .project-image{
    width:70vw;
    height:50vw;
  }
  .container-filler {
    height: 1700px;
  }
  
  
}